
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CryptoBytes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MyActivities.FeedBackPage"
            android:exported="false" />
        <activity
            android:name=".MyActivities.LoginModule.OtpAuthActivity"
            android:exported="false" />
        <activity
            android:name=".MyActivities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyActivities.LoginModule.LoginActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MyActivities.FavouritesModule.FavouritesActivity"
            android:exported="false" />
        <activity
            android:name=".MyActivities.NewsModule.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".MyActivities.NewsModule.NewsPage"
            android:exported="false" />
        <activity
            android:name=".MyActivities.CoinDetailsModule.CoinDetailsPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>
